body{
  background-color: #efefef;
}

.post-item{
  width: 90%;
  margin:auto;
  border-bottom: 1px dotted #cecece;
}

.post-preitem{
  width: 75%;
  height: 100%;
  margin:auto;
  border-bottom: 5px solid #cecece;
}

.post-list{
  height: 100%;
  width: 50%;
  background-color: white;
  padding:15px;
  border: 1px solid #cecece;
  margin: auto;
  align-items: center;
}

.filter-item{
  width:50%;
  background-color: white;
  padding:15px;
  border: 1px solid #cecece;
  margin: auto;
  text-align: right;
}

.button-center{
  display:flex;
  justify-content: center;
}